@font-face {
    font-family: 'Audiowide';
    src: url(fonts/Audiowide.ttf) format(truetype),
        url(fonts/Audiowide.otf) format(otf),
        url(fonts/Audiowide.woff) format(woff);
}

body {
    margin: 0px;
}

h2 {
    text-align: center;
}
body::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../img/gifs/giphy2.gif");
    opacity: .4;
}


